
body {
	background-image: url(http://i.imgur.com/l7HRnia.jpg);
}

#banner {
	font-size: 200%;
	color: yellow;
	
}

#container {
	position: relative;
	height: 600px;
	width: 450px;
}

#controls {
	top: 0;
	right: 20px;
	position: absolute;
	
}